<!doctype html>
<html lang="en" ng-app="myApp" ng-strict-di>

  <head>
    <title>Neural Net Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script crossorigin="anonymous" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/nnbuilder.css">
    <script src="ts_output_readonly_do_NOT_change_manually/src/common.js"></script>
  </head>

  <body>
    <!-- h1>Welcome to neural net builder</h1 -->
    <div class="container" style="position:absolute; top:5%; left:5%; width:90%; height:90%;">

      <!-- components on the left -->
      <div class="ui-widget ui-helper-clearfix toolspanel" style="position:absolute; top:0%; left:0%; width:20%; height:100%;">
        <ul id="componentpanel" class="componentpanel ui-helper-reset ui-helper-clearfix">
          <li ng-repeat="ctype in common.getAvailableComponentTypes()">
            <button ng-class="ctype.btnclass">
              <span ng-class="ctype.spanclass"></span>
              {{ctype.typename}}
            </button>
          </li>
        </ul>
      </div>

      <!-- Main -->
      <div id="mainpanel" class="ui-widget-content ui-state-default"
      style="position:absolute; top:0%; left:20%; width:80%; height:60%; overflow:auto">
        <h4 class="ui-widget-header"><span class="ui-icon">Scratchpad</span>Scratchpad (Left to Right)</h4>
        <ul class='chosencomponents ui-helper-reset list-group'/>
      </div>

      <div class="codepanel jumbotron" style="position:absolute; top:60%; left:20%; width:80%; height:40%;overflow:auto">

        <!-- framework -->
        <div class="btn-group" role="group" style="position:absolute; top:0%; left:0%; width:40%; height:5%;">
          <button ng-repeat="fwk in common.getAvailableFrameworks()" type="button" class="btn btn-default btn-s">{{fwk}}</button>
        </div>

        <div class="btn-group" role="group" style="position:absolute; top:0%; left:30%; width:20%; height:10%; z-index:100;">
          <button type="button" class="btn btn-primary btn-lg">Generate Code</button>
        </div>

        <div class="btn-group" role="group" style="position:absolute; top:0%; left:50%; width:20%; height:10%; z-index:100;">
          <button type="button" class="btn btn-primary btn-lg">Generate Prototxt</button>
        </div>

        <div class="tab-content" style="position:absolute; top:15%; left:0%; width:100%; height:95%;">
          <div id="PyTorch" class="">
            <pre><code>
    import torch
    import numpy as np
    def tryThis():
    a=[]
    return
    def tryThis():
    a=[]
    return
    def tryThis():
    a=[]
    return

    def tryThis():
    a=[]
    return
              </code></pre>
          </div>
        </div>

      </div><!--codePanel -->

    </div>

  </body>
</html>
